.App {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.App .sidebarContainer {
    padding: 20px;
    border: solid #ccc 1px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: auto;
}
.App .mainContainer {
    padding: 20px;
    border: solid #ccc 1px;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: auto;
}

.btnCorrection {
    width: 100px;
}

h2 {
    text-align: center;
}


